.instagramPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .instagramSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7F7;
  }
}