.instagramPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .instagramSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7F7;

    p{
      background: linear-gradient(90deg,  #f9ce34 0%, #ee2a7b 50%, #6228d7 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}