.title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
  background: linear-gradient(90deg,  #f9ce34 0%, #ee2a7b 50%, #6228d7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px auto;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  padding: 0 20px;

  @media (min-width: 1024px) {
    font-size: 1.15rem;
    margin-bottom: 50px;
  }
}

.layoutGrid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  @media (min-width: 1024px) {
    padding: 40px;
    align-items: center;
  }
}

.feed {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoGrid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    align-items: start;
    justify-items: center;
  }
}