:root {
  font-family: var(--font-poppins), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

/* Variables de Breakpoints */
$mobile: 600px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1440px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}